[project]
name = "recipesandtea"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi[standard]>=0.117.1",
    "passlib>=1.7.4",
    "sqlmodel>=0.0.25",
]
